<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slide</title>
    <style media="screen">
      * {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <h1>slide</h1>
    <form name="add" action="/" method="post">
      <label for="user">who you are</label><br>
      <input list="users" id="user" name="user" value="anon" onclick="this.select()">
      <datalist id="users">
        {% for user in users %}
        <option value="{{ user }}"></option>
        {% endfor %}
      </datalist><br>
      <input form="meta" type="checkbox" name="remember-user" id="remember-user"/><label for="remember-user">remember my choice</label><br>
      <br>
      <label for="speed">speed - </label><span id="speed-value">0</span><br>
      <input type="range" name="speed" min="0", max="5" value="0" required onchange="showSpeedValue(this.value)"/><br>
      <br>
      <label for="material">material</label><br>
      <select id="material" name="material" required>
        {% for material in materials %}
        <option value="{{ material }}">{{ material }}</option>
        {% endfor %}
      </select><br>
      <br>
      <input type="checkbox" id="water" name="water" value="true"/>
      <label for="water">water/snow on the rail</label><br>
      <br>
      <label for="comments">comments</label><br>
      <input name="comments" type="text"/><br>
      <br>
      <input id="submit" type="submit" value="submit"/>
    </form>
  </body>
  <script type="text/javascript">
    document.onload = function() {
      showSpeedValue(0);
    }
    // update speed value with slider
    function showSpeedValue(newValue)
    {
      document.getElementById("speed-value").innerHTML=newValue;
    }
    // set user if cookie exists
    var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)user\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    console.log("cookieValue: " + cookieValue);
    userDropdown = document.getElementById("user");
    usersDatalist = document.getElementById("users");
    if (cookieValue != "") {
      userDropdown.value = cookieValue;
      document.getElementById("remember-user").checked = true;
      console.log("set user to cookieValue");
    }
    // set or delete user cookie on submit
    document.getElementById('submit').addEventListener('click', function(event) {
      console.log("clicked!");
      if (document.getElementById("remember-user").checked == true) {
        var a = new Date();
        a = new Date(a.getTime() +1000*60*60*24*30);
        document.cookie = "user=" + userDropdown.value + ";expires=" + a.toGMTString() + ";";

        console.log("saved user to cookie");
      } else {
        document.cookie = 'user' + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        console.log("removed user cookie");
      }
    }, false);
  </script>
</html>
